<!DOCTYPE html>
<html>
    <head>
        <title>Todolist</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="../modules/datepicker/jquery-ui.js"></script>
	<script src="../modules/datepicker/jquery.ui.datepicker-fr.js"></script>
	<script src="../modules/timepicker-master/jquery.ui.timepicker.js"></script>	
	<script>
	$(function() {
		$( "#datepicker" ).datepicker( $.datepicker.regional[ "fr" ] );
		$( "#locale" ).change(function() {
		    $( "#datepicker" ).datepicker( "option", $.datepicker.regional[ $( this ).val() ] );
		});
		$('#timepicker').timepicker({
                    hourText: 'Heures',
                    minuteText: 'Minutes',
                    amPmText: ['AM', 'PM'],
                    timeSeparator: ':',
                    showLeadingZero: false,
                    nowButtonText: 'Maintenant',
                    showNowButton: true,
                    closeButtonText: 'Fermer',
                    showCloseButton: true,
                });
	});
	</script>
	<link rel="stylesheet" href="../modules/datepicker/jquery-ui.min.css" />
	<link rel="stylesheet" href="../modules/timepicker-master/jquery.ui.timepicker.css" />
	<link rel="stylesheet" href="../modules/bootstrap/css/bootstrap.min.css"/>
    </head>
    <body>
	<div class="container container-fluid">
	    <h1>Todolist</h1>
	    <ol>
	    <% todolist.forEach(function(todo, index) { %>
		<li><a href="/todo/supprimer/<%= index %>"><i class="icon-remove"></i></a> <%= todo %></li>
	    <% }); %>
	    </ol>
	    <form action="/todo/ajouter/" method="post">
		<p>
		    <label for="todo">Que dois-je faire ?</label>
		    <input type="text" name="todo" id="todo" style="width:261px" autofocus /><br/>
		    <label for="date">Date et heure de rappel</label>
		    <input type="text" name="date" id="datepicker" />
		    <input type="text" name="clock" id="timepicker" style="width:38px" /><br/>
		    <input type="submit" class="btn" />
		</p>
	    </form>
	</div>
    </body>
</html>
